
* {
  margin: 0;
  padding: 0;
  front-family: tahoma, sans-serif;
  box-sizing: border-box;
}

body { 
   background: #eeece9;
}

.chatbox {
    width: 500px;
    min-width:  390px;
    height: 600px;
    background: #fff;
    padding:   25px;
    margin:  20px auto;
    box-shadow:  0 3px #ccc;
}

.chatlogs {
    padding:  10px;
    width:  100%;
    height:  450px;
    overflow-x:   hidden;
    overflow-y:   scroll;
}

.chatlogs::-webkit-scroller {
    width:  10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius:  5px;
    background: rgba(0,0,0,.1);
}

.chat {
    display:  flex;
    flex-flow:  row wrap;
    align-items:  flex-start;
    margin-bottom:  10px;
}

.chat .user-photo {
    width:  60px;
    height:  60px;
    background:  #ccc;
    border-radius: 50%;
    overflow:  hidden;
    display: none
}

.chat .user-photo img {
   width:  100%;
}

.chat .user-photo1 {
    width:  60px;
    height:  60px;
    background:  #ccc;
    border-radius: 50%;
    overflow:  hidden;
    display:  none;
}

.chat .user-photo1 img {
   width:  100%;
}


.chat .chat-message {
    width:  80%;
    padding:  15px;
    margin:  5px 10px 0;
    border-radius:  10px;
    color:  #181515;
    font-size:  20px;
}

.friend .chat-message {
    background:  #edf9f5;
}

.friend1 .chat-message {
    background: #edf9f5;
    display:  none;
}


.self .chat-message {
    background:  #1ddced;
    order:  -1; 
}

.self1 .chat-message {
    background:  #1ddced;
    display:  none;

}


.chat-form {
    margin-top:  20px;
    display:  flex;
    align-items:  flex-start;
;

.chat-form textarea {
    background:  #fbfbfb;
    width:  75%
    height:  50px;
    border:  2px solid #eee;
    border-radius:  3px;
    resize:  none;
    padding:  10px;
    font-size:  18px;
    color:  #333;
}

.chat-form textarea:focus {
    background:  #fff;
}

.chat-form textarea::-webkit-scrollbar {
   width:  10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
   border-radius:  5px;
   background:  rgba(0,0,0,.1);
}


.chat-form button {
    background:  #555555;
    cursor: pointer;
}

.chat-form button:hover {
    background: #13c8d9;
}

.hide {
	   display:  none;
}
	 	 
.display_content {
	display: block;
}

.button {
	background-color: #555555;
	font-size: 20px;
}




















