body {
	margin: 0;
/*	padding: 0; */
	max-width: 100%;
	font-family: 'Myriad Pro', serif;
/*	background-image: url("background.jpg"); */
	background-repeat: no-repeat;
    background-size: 2000px 2000px;

}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #6bb9d0;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #516eb5;
    color: white;
}


.signon {
    position: relative;
    color: white;
    height: 0;
    bottom: 50;
    right: 0;
    left: 1450;
   
}

/****************************************************************************************************/


			/*Artist DropDown*/

/* The dropdown container */
.adropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.adropdown .adropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 32px;
  background-color: inherit;
  font-family: 'Myriad Pro', serif; 
  margin: 0; 
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover, .adropdown:hover .adropbtn {
  background-color: #6bb9d0;
}

/* Dropdown content (hidden by default) */
.adropdown-content {
  display: none;
  position: absolute;
  text-align:left;
  left: -1;
  background-color: #6bb9d0;
  width: 100%;
  margin: 0 auto;
  outline: 1px black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.adropdown-content a {
  float: none;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.adropdown-content a:hover {
  background-color: #516eb5;
}

/* Show the dropdown menu on hover */
.adropdown:hover .adropdown-content {
  display: block;
}


/****************************************************************************************************/

				/*Band DropDown*/


/* The dropdown container */
.bdropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.bdropdown .bdropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 32px;
  background-color: inherit;
  font-family: 'Myriad Pro', serif; 
  margin: 0; 
}

/* Add a blue background color to navbar links on hover */
.navbar b:hover, .bdropdown:hover .bdropbtn {
  background-color: #6bb9d0;
}

/* Dropdown content (hidden by default) */
.bdropdown-content {
  display: none;
  position: absolute;
  text-align:left;
  left: -1;
  background-color: #6bb9d0;
  width: 100%;
  margin: 0 auto;
  outline: 1px black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.bdropdown-content a {
  float: none;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.bdropdown-content a:hover {
  background-color: #516eb5;
}

/* Show the dropdown menu on hover */
.bdropdown:hover .bdropdown-content {
  display: block;
}

/****************************************************************************************************/

					/*Agent DropDown*/

/* The dropdown container */
.cdropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.cdropdown .cdropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 32px;
  background-color: inherit;
  font-family: 'Myriad Pro', serif;
  margin: 0; 7
}

/* Add a blue background color to navbar links on hover */
.navbar c:hover, .cdropdown:hover .cdropbtn {
  background-color: #6bb9d0;
}

/* Dropdown content (hidden by default) */
.cdropdown-content {
  display: none;
  position: absolute;
  text-align:left;
  left: -1;
  background-color: #6bb9d0;
  width: 100%;
  margin: 0 auto;
  outline: 1px black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.cdropdown-content a {
  float: none;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.cdropdown-content a:hover {
  background-color: #516eb5;
}

/* Show the dropdown menu on hover */
.cdropdown:hover .cdropdown-content {
  display: block;
}

/****************************************************************************************************/

					/*Vendor DropDown*/

/* The dropdown container */
.ddropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.ddropdown .ddropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 32px;
  background-color: inherit;
  font-family: 'Myriad Pro', serif; 
  margin: 0; 
}

/* Add a blue background color to navbar links on hover */
.navbar d:hover, .ddropdown:hover .ddropbtn {
  background-color: #6bb9d0;
}

/* Dropdown content (hidden by default) */
.ddropdown-content {
  display: none;
  position: absolute;
  text-align:left;
  left: -1;
  background-color: #6bb9d0;
  width: 100%;
  margin: 0 auto;
  outline: 1px black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.ddropdown-content a {
  float: none;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.ddropdown-content a:hover {
  background-color: #516eb5;
}

/* Show the dropdown menu on hover */
.ddropdown:hover .ddropdown-content {
  display: block;
}


/****************************************************************************************************/

					/*Event DropDown*/

/* The dropdown container */
.edropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.edropdown .edropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 32px;
  background-color: inherit;
  font-family: 'Myriad Pro', serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a blue background color to navbar links on hover */
.navbar e:hover, .edropdown:hover .edropbtn {
  background-color: #6bb9d0;
}

/* Dropdown content (hidden by default) */
.edropdown-content {
  display: none;
  position: absolute;
  text-align:left;
  left: -1;
  background-color: #6bb9d0;
  width: 100%;
  margin: 0 auto;
  outline: 1px black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.edropdown-content a {
  float: none;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.edropdown-content a:hover {
  background-color: #516eb5;
}

/* Show the dropdown menu on hover */
.edropdown:hover .edropdown-content {
  display: block;
}

/****************************************************************************************************/

					/*Report DropDown*/

/* The dropdown container */
.fdropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.fdropdown .fdropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 32px;
  background-color: inherit;
  font-family: 'Myriad Pro', serif;
  margin: 0; 
}

/* Add a blue background color to navbar links on hover */
.navbar f:hover, .fdropdown:hover .fdropbtn {
  background-color: #6bb9d0;
}

/* Dropdown content (hidden by default) */
.fdropdown-content {
  display: none;
  position: absolute;
  text-align:left;
  left: -1;
  background-color: #6bb9d0;
  width: 100%;
  margin: 0 auto;
  outline: 1px white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.fdropdown-content a {
  float: none;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.fdropdown-content a:hover {
  background-color: #516eb5;
}

/* Show the dropdown menu on hover */
.fdropdown:hover .fdropdown-content {
  display: block;
}


/****************************************************************************************************/


.report {
border: 1px black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  width: 95%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: white;
}
.grid-item1 {
background-color: #abebff;
  padding: 10px;
  font-size: 20px;
  text-align: right;
border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item2 {
  padding: 10px;
  font-size: 20px;
  text-align: left;
border-right: 1px solid rgba(0, 0, 0, 0.8);
border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.grid-item3 {
background-color: #abebff;
  padding: 10px;
  font-size: 20px;
  text-align: right;
border-right: 1px solid rgba(0, 0, 0, 0.8);
border-left: 1px solid rgba(0, 0, 0, 0.8);
border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.grid-item4 {
  font-size: 25px;
  text-align: right;
border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item5 {
  padding: 10px;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.grid-item6 {
  padding: 10px;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.grid-item7 {
  font-size: 30px;
  text-align: center;
border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.button {
  text-align: center;

}


/****************************************************************************************************/
.ArtistGrid1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 5px;
  width: 60%;    
margin: auto;
text-align: left;

}

.Agrid-item1 {
padding: 20px;
  font-size: 25px;
  text-align: right;
line-height: 300%;
border: 1px solid rgba(0, 0, 0, 0.8);

}

.Agrid-item2 {
line-height: 105%;
padding: 20px;
  font-size: 25px;
  text-align: left;
border: 1px solid rgba(0, 0, 0, 0.8);

}


.Agrid-item3 {
padding: 20px;
  font-size: 25px;
  text-align: center;
 
}


.Agrid-item4 {
padding: 20px;
  font-size: 25px;
  text-align: right;
line-height: 300%;
border: 1px solid rgba(0, 0, 0, 0.8);

}

.Agrid-item5 {
line-height: 105%;
padding: 10px;
  font-size: 25px;
  text-align: left;
border: 1px solid rgba(0, 0, 0, 0.8);
width: 440%; 
}
.ArtistGrid2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  width: 20%;    
margin: 25px 100px 25px 375px;
text-align: left;

}

/****************************************************************************************************/

